
  .player-element {
    position: absolute;
    border: none !important;
    height: 50%;
    width: 73%;
    left: -23%;
    transform-origin: bottom right;
  }
  
  .player {
    width: 5rem;
    height: 5rem;
  }

  .player > h1 {
    font-size: medium  ;
    font-family: 'Kalam', cursive;
    font-weight: 700;
    background: -webkit-linear-gradient(45deg, rgb(241, 200, 13), rgb(204, 54, 9));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0;
  } 
  
  .player > .circle {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    box-sizing: border-box;
    border: 5px solid rebeccapurple;
    display: flex;
    align-items: center;
    justify-content: center;
   
  }
  