.app {
  background-color: rgb(0, 19, 37);
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}