.player-cards {
   width: 100%;
   height: 100%;
  }

  
  .player-cards > img {
    max-width: 2.5rem;
    margin: 2px;
    padding: 2px;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
  }