.app {
  background-color: rgb(39, 63, 87);
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > h1 {
  font-size: 6rem;
  position: relative;
  top: 5rem;
  font-family: 'Kalam', cursive;;
  text-align: center;
  color: white;
  background: -webkit-linear-gradient(45deg, rgb(241, 200, 13), rgb(204, 54, 9));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.deck {
  position: absolute;
  left: 30rem;
  top: 40%;
}

.deck > img {
  max-width: 8rem;
  position: absolute;
  cursor: pointer;
}

.stacked-cards {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stacked-cards > img {
  max-width: 12rem;
  position: absolute;
  cursor: pointer;
}

.player {
  position: absolute;
  background-color: rgb(31, 105, 179);
  color: white;
  text-transform: uppercase;
  height: 7rem;
  width: 7rem;
  font-size: small;
  display: flex;
  border-radius: 100%;
  box-shadow: 1px 1px 4px 2px rgb(34, 34, 34);
  justify-content: center;
  align-items: center;
}

.player > img {
  max-width: 70px;
  margin: 10px
}

.player:nth-of-type(1){
  top: 20rem;
  left: 30rem;
}

.player:nth-of-type(2){
  top: 20rem;
  right: 30rem;
}

.player:nth-of-type(3){
  bottom: 20rem;
  left: 30rem;
  background-color: rgb(225, 191, 0);
  color: black;
}

.player:nth-of-type(4){
  bottom: 20rem;
  right: 30rem;
}

.my-cards{
  display: flex;
}

.my-cards > img {
  max-width: 6rem;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

.my-cards > img:hover {
  transform: scale(1.1);
}