.app {
  background-color: rgb(0, 19, 37);
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > h1 {
  font-size: 6rem;
  font-family: 'Kalam', cursive;
  text-align: center;
  color: white;
  background: -webkit-linear-gradient(45deg, rgb(241, 200, 13), rgb(204, 54, 9));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.room {
  width: 100%;
  height: 100%;
  position: relative;
}

.table {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 35rem;
  height: 35rem;
  border-radius: 100%;
  border: 6px solid saddlebrown;
  background-image: url('https://images.unsplash.com/photo-1589874497556-65019ae69438?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80');
  background-size: contain;
  background-position: center;
}


.deck {
  position: relative;
  bottom: 45%;
 transform: translate(-12rem);
}
.deck > img {
  position: absolute;
  max-width: 10rem;
  cursor: pointer;
  border: 1px solid black;
}


.played-cards {
  position: absolute;
  top: 37%;
  left: 50%
}

.played-cards > img {
  max-width: 14rem;
  position: absolute;
  cursor: pointer;
}

.my-cards{
  display: flex;
  height: 15rem;
}

.my-cards > img {
  height: 10rem;
  width: auto;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

.my-cards > img:hover {
  transform: scale(1.1);
}

.player-element {
  position: absolute;
  height: 50%;
  width: 73%;
  left: -23%;
  transform-origin: bottom right;
}

.player {
  width: 10rem;
  height: 10rem;
}

.player > .circle {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: gold;
  box-sizing: border-box;
  border: 5px solid rebeccapurple;
  background: -webkit-linear-gradient(45deg, rgb(241, 200, 13), rgb(204, 54, 9));
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Kalam', cursive;
  font-weight: 700;
}

.player-cards {
  position: absolute;
  top: -5rem;
  width: 20rem;
  z-index: 1000000;
}

.player-cards:hover > img {
  position: initial;
}

.player-cards > img {
  z-index: 1000000;
  max-width: 3rem;
  margin: 2px;
  padding: 2px;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
}

