.app {
  background-color: rgb(39, 63, 87);
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  background-color: blue;
  width: 80%;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.deck {
  position: absolute;
  left: 10rem;
  top: 40%;
}
.deck > img {
  max-width: 8rem;
  position: absolute;
  cursor: pointer;
}


h1{
  margin: 0;
  text-align: center;
  color: white;
}

.stacked-cards {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stacked-cards > img {
  max-width: 15rem;
  position: absolute;
}

.player {
  position: absolute;
  background-color: rgb(33, 69, 105);
  color: white;
  text-transform: uppercase;
  height: 5rem;
  width: 5rem;
  font-size: x-small;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player > img {
  max-width: 70px;
  margin: 10px
}

.player:nth-of-type(1){
  top: 3rem;
  left: 10rem;
}

.player:nth-of-type(2){
  top: 3rem;
  right: 10rem;
}

.player:nth-of-type(3){
  bottom: 3rem;
  left: 10rem;
  background-color: rgb(225, 191, 0);
  color: black;
}

.player:nth-of-type(4){
  bottom: 3rem;
  right: 10rem;
}

.my-cards{
  display: flex;
}

.my-cards > img {
  max-width: 6rem;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

.my-cards > img:hover {
  transform: scale(1.1);
}