.app {
  background-color: rgb(39, 63, 87);
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  background-color: blue;
  width: 80%;
}

h1{
  margin: 0;
  text-align: center;
  color: white;
}

.main-cards {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 15rem;
}

.player {
  position: absolute;
  background-color: green;
  color: white;
  text-transform: uppercase;
  height: 10rem;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player > img {
  max-width: 70px;
  margin: 10px;
}

.player:nth-of-type(1){
  top: 3rem;
  left: 10rem;
}

.player:nth-of-type(2){
  top: 3rem;
  right: 10rem;
}

.player:nth-of-type(3){
  bottom: 3rem;
  left: 10rem;
}

.player:nth-of-type(4){
  bottom: 3rem;
  right: 10rem;
}